@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poetsen+One&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.container {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

header li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header p {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #00ccff;
}

.icon_links {
    list-style: none;
    cursor: pointer;
}

.icon_links li {
    display: inline-block;
    margin: 0 15px;
}

.icon_links li a img {
    height: 30px;
}

/* Card-style bio */
.about_container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px 250px;
    gap: 400px;
}

.hello {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 200px;
}

.card {
    width: 350px;
    height: 515px;
    margin: 0px auto 0;
    perspective: 1000px;
}

.card-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: url(images/headshot.png);
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.front p {
    color: #000000;
    font-size: 13px;
}

.front button {
    width: 120px;
    align-items: right;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    color: #000000;
}

.back {
    background: #ffffff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.back h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: 55px;
    margin-bottom: 10px;
}

.back h1 span {
    font-weight: 400;
    border-bottom: 2px solid #7800ad;
}

.back h2 {
    margin-top: 2px;
    font-weight: 200;
}

.back h3 {
    font-size: 30px;
    font-weight: 50;
}

.back p {
    margin-top: 15px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.back button {
    background: #7800ad;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 4px 25px;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
    cursor: pointer;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.back button a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

/* Projects Section */

#Projects {
    scroll-margin-top: 60px;
}

.project_container {
    width: 100%;
    height: auto;
    align-items: top;
    display: flex;
    flex-direction: row;
    scroll-margin-top: 60px;
    justify-content: center;
    padding: 150px 10px 100px 10px;
    gap: 100px;
}

.title {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin-top: 200px;
}

.project_title {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.1em;
    color: #fff;
}

.project_card {
    width: 350px;
    height: 375px;
    margin: 0 px auto 0;
    perspective: 1000px;
}

.project_card_inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.project_card_front,
.project_card_back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}

.project_card_front {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

#project1 {
    background: url(images/spikepcb.png);
    background-size: cover;
    background-position: center;
}

#project2 {
    background: url(images/c43.png);
    background-position: center;
    background-size: cover;
}

#project3 {
    background: white;
    background-size: cover;
    background-position: center;
}

.project_card_front h1 {
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 25px;
}

.project_card_back {
    background: #ffffff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.project_card_back p {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.project_card_back button {
    background: #7800ad;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 4px 25px;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;
}

.project_card_back button a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.project_card:hover .project_card_inner {
    transform: rotateY(180deg);
}

/* Experience Section */
#Experience {
    scroll-margin-top: 60px;
}

.experience_container {
    width: 100%;
    height: auto;
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 10px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    width: 75%;
    padding: 50px 0;
}

.timeline_container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    color: #333;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.text-box h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 30px;
    font-weight: 200;
    border-bottom: #333 1px solid;
}

.text-box p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.text-box small {
    font-weight: 550;
}

.job_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

#date {
    margin-right: 0;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.timeline_container img {
    position: absolute;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: -30px;
    top: 32px;
    z-index: 10;
}

.right img {
    left: -30px;
}

.timeline::after {
    content: "";
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background: #fff;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

#fedex {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* Skills Section */

#Skills {
    scroll-margin-top: 60px;
}
